html, body {
  height: 100%;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  height: 100vh;
  width: 100%;
  margin: 0;
}

#device-ui {
  background: #563232;
  width: 100%;
  height: 100%;
}

#testing-ui {
  width: 100%;
  height: 100%;
}