html, body {
  height: 100%;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  height: 100%;
  width: 100%;
  margin: 0;
}

#device-ui,
#data-display-ui,
#testing-ui {
  height: 100vh;
}

#device-ui {
  background: #563232;
}
